.container-fluid > div {
    width: 900px;
}

.btn { 
    box-shadow: none !important;
    font-weight: 700;
}

.btn-primary {
    background-color: #2790ff;
    border-color: #2790ff;
    color: #fff;
}

.btn-secondary {
    background-color: #646b71;
    border-color: #646b71;
    color: #fff;
}

.btn-add {
    background-color: #4bab4f;
    border-color: #4bab4f;
    color: #fff;
}

.btn-remove {
    background-color: #e45f50;
    border-color: #e45f50;
    color: #fff;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
